---
- name: Ensure Alertmanager service exists
  shell: kubectl get svc -n {{ monitoring_namespace }} monitoring-kube-prometheus-alertmanager
  register: alertmanager_service_check
  failed_when: alertmanager_service_check.rc != 0
  changed_when: false

- name: Start port-forwarding for Alertmanager service
  shell: |
    kubectl -n {{ monitoring_namespace }} port-forward svc/monitoring-kube-prometheus-alertmanager 9093:9093 > /dev/null 2>&1 &
  args:
    executable: /bin/bash
  environment:
    KUBECONFIG: "{{ ansible_env.HOME }}/.kube/config"
  async: 0
  poll: 0
  when: alertmanager_service_check.rc == 0

- name: Patch Alertmanager service to use a static NodePort
  shell: |
    kubectl patch svc monitoring-kube-prometheus-alertmanager -n {{ monitoring_namespace }} -p '{"spec": {"ports": [{"port": 9093, "nodePort": {{ alertmanager_custom_nodeport }}, "protocol": "TCP", "targetPort": 9093}],"type": "NodePort"}}'
  environment:
    KUBECONFIG: "{{ ansible_env.HOME }}/.kube/config"

- name: Retrieve NodePort for Alertmanager service
  shell: |
    kubectl get svc monitoring-kube-prometheus-alertmanager -n {{ monitoring_namespace }} -o jsonpath="{.spec.ports[0].nodePort}"
  environment:
    KUBECONFIG: "{{ ansible_env.HOME }}/.kube/config"
  register: alertmanager_nodeport

- name: Display Alertmanager NodePort
  debug:
    msg: "Alertmanager is exposed on NodePort {{ alertmanager_nodeport.stdout }}. Use http://{{ hostvars[inventory_hostname]['external_ip'] }}:{{ alertmanager_nodeport.stdout }} to access Alertmanager."
