/ansible/configs/vault.yml
/logs/
/thesis/*/build/*
# But do not ignore the main.pdf file
!/thesis/*/build/*.pdf
/data-analysis/analysis-scripts/data/*
/data-analysis/analysis-scripts/diagrams/*
/data-analysis/analysis-scripts/diagrams_120s/*
thesis/*/Figures/diagrams/*
/testing/evaluation/logs/*
!/testing/evaluation/logs/*/events.log
/testing/evaluation/.venv
/.venv
/testing/evaluation/analysis/out/*/*.parquet
/testing/evaluation/analysis/tests/__pycache__
/testing/evaluation/analysis/__pycache__