## SOURCE: https://github.com/digitalocean/Kubernetes-Starter-Kit-Developers/blob/main/04-setup-observability/assets/manifests/prom-stack-values-v35.5.1.yaml
##
## Starter Kit configuration for Prometheus stack
##
defaultRules:
  create: true
  rules:
    etcd: false
    kubeScheduler: false

kubeScheduler:
  enabled: false

kubeEtcd:
  enabled: false

alertmanager:
  enabled: true
  alertmanagerSpec:
    storage:
      volumeClaimTemplate:
        metadata:
          name: {{ pvc_name }}-alertmanager
        spec:
          accessModes:
            - {{ storage_accessmode }}
          resources:
            requests:
              storage: {{ pvc_size_alertmanager }}
          selector:
            matchLabels:
              app: alertmanager
          storageClassName: {{ storageclass_name }}

grafana:
  enabled: true
  adminPassword: {{ grafana_admin_password }}
  persistence:
    enabled: true
    existingClaim: 	{{ pvc_name }}-grafana

prometheus:
  enabled: true
  prometheusSpec:
    additionalScrapeConfigs:
      - job_name: 'kepler-metrics'
        static_configs:
          - targets:
              - {{ groups['server'][0] | default('') }}:9102  # Control node
              - {{ groups['agent'][0] | default('') }}:9102   # Worker node 1
              - {{ groups['agent'][1] | default('') }}:9102   # Worker node 2
    securityContext:
      enabled: true
      runAsUser: 65534
      fsGroup: 65534
    storageSpec:
      volumeClaimTemplate:
        metadata:
          name: {{ pvc_name }}-prometheus
        spec:
          accessModes:
            - {{ storage_accessmode }}
          resources:
            requests:
              storage: {{ pvc_size_prometheus }}
          selector:
            matchLabels:
              app: prometheus
          storageClassName: {{ storageclass_name }}

prometheusOperator:
  enabled: true
