## SOURCE: https://github.com/digitalocean/Kubernetes-Starter-Kit-Developers/blob/main/04-setup-observability/assets/manifests/prom-stack-values-v35.5.1.yaml
##
## Starter Kit configuration for Prometheus stack
##
defaultRules:
  create: true
  rules:
    etcd: false
    kubeScheduler: false

kubeScheduler:
  enabled: false

kubeEtcd:
  enabled: false

alertmanager:
  enabled: true
  alertmanagerSpec:
        storage: {}
        volumeClaimTemplate:
          spec:
            storageClassName: local-nfs
            accessModes: ["ReadWriteOnce"]
            resources:
              requests:
                storage: 5Gi
          selector: {}

grafana:
  enabled: true
  adminPassword: prom-operator ######################################################################## <- CHANGE THIS
  persistence:
    enabled: true
    existingClaim: 	nfs-pvc-grafana

prometheusOperator:
  enabled: true

prometheus:
  enabled: true
  metadata:
    name: my-example-prometheus-name
    labels:
      prometheus: example
  prometheusSpec:
    ## SecurityContext configuration
    ##
    securityContext:
      enabled: true
      # changed / adapted for efs
      # runAsUser: 1001
      # fsGroup: 1001
      runAsUser: 65534
      fsGroup: 65534
    storageSpec:
      volumeClaimTemplate:
        metadata:
          name: nfs-pvc-prometheus
        spec:
          storageClassName: local-nfs
          accessModes:
            - ReadWriteMany
          resources:
            requests:
              storage: 5Gi
