## SOURCE: https://github.com/digitalocean/Kubernetes-Starter-Kit-Developers/blob/main/04-setup-observability/assets/manifests/prom-stack-values-v35.5.1.yaml
##
## Starter Kit configuration for Prometheus stack
##
defaultRules:
  create: true
  rules:
    etcd: false
    kubeScheduler: false

kubeScheduler:
  enabled: false

kubeEtcd:
  enabled: false

alertmanager:
  enabled: true

grafana:
  enabled: true
  adminPassword: prom-operator ######################################################################## <- change this
  persistence:
    enabled: true
    existingClaim: 	nfs-pvc-grafana

prometheusOperator:
  enabled: true

prometheus:
  enabled: true
  storageSpec:
    volumeClaimTemplate:
      spec:
        selector:
          matchLabels:
            app.kubernetes.io/name: my-example-prometheus
        resources:
          requests:
            storage: 15Gi
