apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{ pv_name }}
spec:
  capacity:
    storage: {{ storage_size }}
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  storageClassName: local-nfs
  nfs:
    path: {{ export_path }}
    server: {{ hostvars[groups['server'][0]]['internal_ip'] }}
  claimRef:
    namespace: default
    name: {{ pvc_name }}