apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ pvc_name }}
spec:
  accessModes:
    - {{ storageAccessMode }}
  resources:
    requests:
      storage: {{ storage_size }}
  storageClassName: {{ storageClassName }}